<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	  <clear />
	  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	  <add key="FastEndpoint" value="https://pkgs.dev.azure.com/technical0891/Picator/_packaging/picator-feed/nuget/v3/index.json" />
  </packageSources>
   <packageSourceCredentials>
    <FastEndpoint>
        <add key="Username" value="technical@picator.club" />
        <add key="ClearTextPassword" value="dynwhw5uyqeb7b5p2jtddtn7rwx2rdjsoktx72sspoakrbhupdkq" />
      </FastEndpoint>
  </packageSourceCredentials>
</configuration>